# Binaries
/cart
*.exe
*.out
*.test

# Vendor / modules (if you're not vendoring)
vendor/

# IDE/editor settings
.vscode/
.idea/
*.swp

# Logs
*.log
logs/

# Environment files
.env

go.sum

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar

