# Maven output
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ / Eclipse / VSCode configs
*.iml
.idea/
.project
.classpath
.settings/
.vscode/

# Logs
*.log
logs/

# OS generated
.DS_Store
Thumbs.db

# Environment files
.env

